*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: black;
}

body{
  background-color: black;
  
}

.parent{
  min-height: 100vh;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

}

.card{
  height: 330px;
  width: 280px;
  background-color:white;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #5d5a5a;
}
.top button{
  font-size: 14px;
  font-weight: 500;
  color: rgb(154, 152, 152);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 5px;
  border: 1px solid #e0dddd;
}


.center{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 80px;
}

.center div{
  display: flex;
  align-items:end;
  gap: 5px;
}

.center div h3{
  font-size: 20px;
  font-weight: 500;
}

.center div span{
  font-size: 11px;
  font-family: 600;
  color: #5d5a5a;
}


.center div h4{
  font-size: 15px;
  font-weight: 300;
  background-color: #e2e0e6;
  padding: 2px 5px;
  border-radius: 5px;
}



.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #c4c2c2;
}

.bottom button{
  font-size: 12px;
  padding: 4px;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}